@tailwind base;
@tailwind components;
@tailwind utilities;

/*
--russian-violet: #231942ff;
--ultra-violet: #5e548eff;
--african-violet: #9f86c0ff;
--lilac: #be95c4ff;
--pink-lavender: #e0b1cbff;

--black-olive: #423e37ff;
--xanthous: #e3b23cff;
--eggshell: #edebd7ff;
--taupe-gray: #a39594ff;
--dim-gray: #6e675fff;

*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
